* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-content: center;
  display: grid;
  text-align: center;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(to bottom right, #000000, #0ca9e7);
  display: grid;
  place-items: center;
  min-height: 100vh;
}

  
h2 {
  margin-top: 20px;
}
  .container {
    background-color: #fff;
    width: 70%;
    /* height: 60%; */
    position: relative;
    display: grid;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    line-height: 1.5;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.185);
    border-radius:  20px;
    margin: 70px;
  }

  .container::after {
    content: "";
    position: absolute;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    z-index: -1;
  }
  
  .container img {
    width: 250px;
    height: 400px;
    object-fit: cover;
    object-position: center;
  }
  .container-text {
    padding: 10px 40px 10px 10px;
    text-align: center;
  }
  .container-text h2 {
    font-size: 3.2rem;
    color: #1A2250;
  }
  .container-text p {
    font-size: 29px;
    color: #3B4169;
    margin: 10px 0;
  }
  .container-text input,
  .container-text button, 
  .container-text select {
    border: none;
    padding: 14px;
    border-radius: 3px;
  }
  .container-text input,  .container-text select {
    border: 1.3px solid #2000FF;
    margin: 5px 0 10px;
    font-size: 1rem;
    color: #000000;
  }
  .container-text button {
    background-image: linear-gradient(to right, #003CFF, #45ABFF);
    display: block;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 5px 20px #89caff94;
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 20px;

  }
  .container-text button:hover {
    box-shadow: none;
  }
